projet3A/SmartWCFClient_2/SmartWCFClient_2/Connected Services/ServiceReference1/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SmartWcfService1" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SmartWcfService1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfHuman">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Human" nillable="true" type="tns:Human" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfHuman" nillable="true" type="tns:ArrayOfHuman" />
  <xs:complexType name="Human">
    <xs:sequence>
      <xs:element minOccurs="0" name="BirthDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Human" nillable="true" type="tns:Human" />
</xs:schema>